<html lang="en">


{% load static %}

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="{% static "intercoolerjs/js/jquery.js" %}"></script>
    <script src="{% static "intercoolerjs/js/intercooler.min.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    body {
        font-family: 'Ubuntu', sans-serif;
    }

    img {
        border-radius: 50%;
    }

    .flex-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between
    }
    .heart{color:#e25555;}
</style>

<body>
    <div class="flex-wrapper">
        <div class="container">
            {% block body %}
            // content will be here
            {% endblock %}
        </div>
        <div class="footer">
            <br>
            <br>
            {% include "footer.html" %}
        </div>
    </div>
</body>

</html>