<title>Supply Chain Bot Tournament - PyData Global 2020</title>
{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid" style="margin-left: -20px">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <br>
            <p style="text-align:center">BlueYonder's Supply Chain Bot Tournament</p>
            <h1 style="text-align:center">Leaderboard</h1>
            <br>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Costs</th>
                        <th>When?</th>
                    </tr>
                </thead>
                <tbody ic-poll="30s" ic-src="/table" ic-trigger-on="load">
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
{% endblock %}